body{
     font-size: 16px;
     font-family: 'Times New Roman', Times, serif;
}
header,
main,
footer{
     max-width: 760px;
     margin: 0 auto;
}
header, 
footer{
  border:1px solid #bbb;
  padding: 1rem;
  background-color: #bbacc1;
}
header img{
      float:right;
      width: 200px;
      height: auto;
}