body{
     font-size: 16px;
     font-family: 'Times New Roman', Times, serif;
}
/*body {margin: 1rem;}
#currentdate {color:#4b7;}*/


header,
main,
footer{
     max-width: 760px;
     margin: 0 auto;
}



header, 
footer{
  border:1px solid #bbb;
  padding: 1rem;
  background-color: purple;
}
header img{
      float:right;
      width: 200px;
      height: auto;
}