@media only screen and (min-width: 1025px){

    nav ul li a {
        padding: .6rem 1rem;
        
    }
    main {
        max-width: 1440px;
      
    }
    .def-img{
        display: block;
        width: 100%;
        height: 50rem;
    }

    .picture {
       object-fit: cover;
       object-position: 80% 20% ;
    }

    .main_city {
        font-size: 2.6em;
        padding: 30px;
    }
/*city Ba*/
.historyCity
 {
    font-size: 48px;
    padding: 79px 0 57px 185px;
    text-align: left;
    margin: 0;
}
.textCity {
    font-size: 22px;
    margin: 0 95px 40px 185px;
}
.text_1 {
    width: 800px;
    font-size: 22px;
}
.block_2 {
    display: flex;
    padding: 0;
    margin: 0 185px;
}
.text_2 {
    font-size: 22px;
}
.block_3 {
    margin: 0 95px 40px 185px;
}
/*galery*/
.gallery {
    font-size: 36px;
    margin-bottom: 0;
}
.container {
    margin: 0 175px;
}
.picture {
    width: 30%;
}
/*join ba*/
 /* FORM */
 form label.top,
 form label.info {
     font-size: 24px;
 }
 .textarea {
     font-size: 24px;
 }
 form fieldset {
     padding-left: 60px;
 }
 .option {
     font-size: 22px;
 }
 .user-1 {
     font-size: 30px;
 }
 /*directory ba*/
 .title {
    font-family: "Legacy Sans ITC Pro", sans-serif;
    font-size: 34px;
    padding: 40px 0 20px 0;
    margin: 0 130px;
}
#btnContainer {
    margin: 0 130px 30px 130px;
}
/* ----------- CARD LIST--------- */
.cards_view_list .card {
    display: flex;
    max-width: 930px;
    margin: 20px auto;
    position: relative;
    height: 128px;
}
.cards_view_list .card_logo {
    width: 185px;
}
.cards_view_list .website {
    margin: 5px;
}
.cards_view_list .address_1 {
    margin: 0;
    padding: 31px 0 0 0;
}
.cards_view_list .time {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.cards_view_list .part_1 {
    margin-bottom: 0;
}
.cards_view_list .part_2 {
    position: absolute;
    right: 0;
    max-width: 300px;
}
/* ----------- CARD GRID -------- */
.cards_view_grid .card {
    width: 40%;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.cards_view_grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 130px;
}
}