@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,200;1,700&display=swap" rel="stylesheet');
:root {
	/* change the values below to your colors from your palette */
	--primary-color: #4d4861;
	--secondary-color: #605770;
	--accent1-color: 	#9e7682;
	--accent2-color: 	#edcb96;
	--accent3-color: 	#f7c4a5;
}

body {
    margin: 0 auto;
	font-size: 16px;
	font-family: Source sans Pro, sans-serif;
    
}

header,
footer {
	background-color: #9e7682;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	
}

header,
nav,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;
}

	
h1 {
	font-family: Source sans Pro, sans-serif;
	font-size: 2rem;
    Color: rgb(214, 207, 197);
}
h2 {
	color: black;
	font-family:  Source sans Pro, sans-serif;
}
h3,
h4 {
    color: rgb(214, 207, 197);
	font-family: Source sans Pro, sans-serif;
}
h5 {
	color: rgb(214, 207, 197);
}
nav ul { display: flex; }
		nav ul li  { flex: 1 1 100%; }

nav {
    background-color: #4d4861;
	text-align: center;
    
	}
nav a{
    color:#605770; 
}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
nav ul li a { 
    display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
    color: #4d4861;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

colors {
	width: 100%;
	min-width: 350px;
	margin: auto;
	text-align: center;
	padding-bottom: 10%;
  }
  .colors th {
	background-color: #999;
  }
  .colors td{
	width: 20%;
	height: 3em;
  }
  
  .primary {
	background-color: var(--primary-color);
  }
  .secondary {
	background-color: var(--secondary-color);
  }
  .accent1 {
	background-color: var(--accent1-color);
  }
  .accent2{
	background-color: var(--accent2-color);
  }
  .accent3{
	background-color: var(--accent3-color);
  }

footer {
	flex: 0 1 100%;
	height: 6rem;
    color: #D9DBF1;
	margin-top: 40px;
}