*{
    margin: 0;
    padding: 0;
}
body h1{
    background-color: #b88c9e;
    font-size: 40px;
    text-align: center;
}
 a , img{
    display: block;
    margin: auto;
    padding:40px;
}
#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: #704c5e;
    padding: 1em;
  }