body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
}

.wildwest, tbody, tr {
    box-shadow: 9px 8px 10px 0 #628ca6;
    margin: 20px auto;
}

.wildwest, tr, td, th {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(167, 167, 167);
    border-collapse: collapse;
}

.th {
    background: #628ca6;
    color: white;
    font-weight: bold;
}

.title {
    font-size: 2em;
    background: #7fb9c2;
}

.last {
    background: #7fb9c2;
    margin: 0 auto;
}

.even {
    background: #e7ffed;
}

.odd {
    background: #e7f0ed;
}
tfoot tr th {
    font-weight: 200;
    background-color: #7fb9c2;
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

.foot {
    margin: 0 auto;
}

.chang {
    background-color: #628ca6;
    color: white;
}

@media screen and (max-width: 600px) {
    table thead {
        border: none;
    }
    table,
    tr,
    td,
    th,
    thead {
        display: grid;
    }
    table {
        box-shadow: none;
    }
    table tr {
        display: block;
        margin-bottom: 15px;
    }
    table td {
        border-bottom: none;
        display: block;
        font-size: 25px;
        text-align: right;
    }
    table td:last-child {
        border-bottom: 1px solid black;
    }
    tbody tr:nth-of-type(1) {
        display: none;
    }
    td:nth-of-type(1):before {
        content: 'Period';
    }
    td:nth-of-type(2):before {
        content: 'Sales';
    }
    td:nth-of-type(3):before {
        content: 'Global Sales';
    }
    table td::before {
        float: left;
    }
    tfoot {
        width: 100%;
    }
}